@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url("/assets/font/Noto Sans TC.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  font-weight: 400;
  line-height: 140%;
  background-color: #E2D9D3;
  min-width: 414px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1,
h2,
h3,
h5 {
  line-height: 125%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  line-height: 140%;
}

h5 {
  font-size: 18px;
}

input {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.subtitle {
  line-height: 140%;
  font-size: 14px;
  font-weight: 500;
}

.caption {
  font-weight: 400;
  line-height: 140%;
  font-size: 12px;
}

.title {
  font-weight: 700;
  line-height: 140%;
}

.small {
  font-weight: 400;
  line-height: 140%;
  font-size: 11px;
}

.btn-lg, .btn-md, .btn-sm {
  font-weight: 700;
  line-height: 112.5%;
}

.btn-sm {
  font-size: 12px;
}

.btn-md {
  font-size: 14px;
}

.btn-lg {
  font-size: 16px;
}

.header-container {
  background-image: url("/assets/images/白色海浪.svg"), url("/assets/images/底色.svg");
  background-position: center;
  background-size: 350% 80%;
  background-repeat: no-repeat, no-repeat;
  background-color: #204379;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 24px 8px;
  width: 100%;
  min-height: 584px;
}

.slogan-container > h2 {
  color: #FFFFFF;
  letter-spacing: 0.2em;
}
.slogan-container > h2:nth-child(2) {
  font-size: 28px;
  text-align: center;
  margin-top: 4px;
}

.btn-goToForm {
  margin: 10px 0;
  height: 100px;
}

.btn-goToForm:hover {
  cursor: pointer;
}

.paragraphs-container {
  background-color: #DAE4F1;
  border: 2px solid #B57556;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  position: relative;
  width: 100%;
  max-width: 808px;
}

.supBubble-container,
.sup,
.oar,
.bubble-sm,
.bubble,
.supFirework-container,
.supFirework,
.firework {
  position: absolute;
}

.supBubble-container {
  top: -28px;
  right: 70px;
}
.supBubble-container .oar {
  top: 10px;
  left: 20px;
}
.supBubble-container .bubble-sm {
  top: -50px;
  right: -60px;
}
.supBubble-container .bubble {
  top: -30px;
  right: -50px;
}

.supFirework-container {
  bottom: 31px;
  left: 8px;
}
.supFirework-container .firework {
  top: 20px;
  left: -28px;
}

.wave {
  height: 110px;
  background-image: url("/assets/images/海浪.svg"), linear-gradient(to bottom, #204379 50%, #E2D9D3 50%);
  background-repeat: repeat-x;
  background-position-y: bottom;
  overflow: hidden;
  box-sizing: unset;
  padding-top: 40px;
}

.paragraph, .title {
  display: flex;
  justify-content: center;
}

.paragraph {
  flex-direction: column;
  width: 100%;
}
.paragraph .title {
  align-items: center;
  flex-direction: row;
  min-height: 40px;
}
.paragraph h5, .paragraph li {
  color: #204379;
}
.paragraph h5 {
  margin: 0 3px;
}
.paragraph ol {
  padding-left: 16px;
}

/*# sourceMappingURL=all.css.map */
