// primary colors
$primaryColor1: #204379;
$primaryColor2: #B57556;
$primaryColor3: #DAE4F1;
$primaryColor4: #E2D9D3;
$primaryColor5: #D3C3B8;
$primaryColor6: #B3B960;
$primaryColor7: #A0BCC8;

// text colors
$textColor1: #000000;
$textColor2: #212121;
$textColor3: #424242;
$textColor4: #6C6C6C;
$textColor5: #757575;
$textColor6: #9E9E9E;
$textColor7: #BDBDBD;
$textColor8: #E0E0E0;
$textColor9: #F5F5F5;
$textColor10: #FAFAFA;

// white color
$white: #FFFFFF;