@use '../helpers/variables';

.card-container {
  position: relative;
  min-width: $cardWidth;
  height: 112px;
  box-shadow: 0px 8px 0px #edeef0;
  border-radius: 20px;
  background-color: $white;
}
