@use '../helpers/variables';

// input 基本樣式 (讓一般input與有錯誤時的input共用)
%input-basic {
  width: 100%;
  height: 57px;
  margin: 4px 0 auto 0;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  border: 1px solid $primaryColor1;
  border-radius: 20px;
}

.formComponent-container,
form,
input {
  display: flex;
  flex-direction: column;
}

.formComponent-container {
  background-color: $primaryColor4;
  padding: 67.46px 24px 0 24px;
}

form,
.formTitle-container > div {
  border: 2px solid $primaryColor2;
  background: $white;
}

form {
  width: 100%;
  max-width: 808px;
  border-radius: 16px;
  box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
  padding: 40px 20px;
  margin-bottom: 30px;
  gap: 20px;
  position: relative;
  align-self: center;

  .formTitle-container,
  .formTitle-container div,
  .formTitle-container img {
    position: absolute;
  }

  .formTitle-container {
    top: -25px;
    left: calc(50% - (100px * 2 / 3));

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 123px;
      height: 43px;
      padding: 10px 15px;
      box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
      border-radius: 50px;
      color: $primaryColor2;

      h5 {
        letter-spacing: 0.2em;
      }
    }

    img {
      top: -10px;
      left: 100px;
    }
  }

  label {
    position: relative;

    &:nth-child(2) > input,
    &:nth-child(7) > input {
      background-image: url('/assets/images/drop down.svg');
      background-repeat: no-repeat;
      background-position: calc(100% - 18px) 48%;
      cursor: pointer;
    }

    &:nth-child(2) > input:focus {
      background-position: calc(100% - 16px) calc(47.5%);
    }
    &:nth-child(7) > input:focus {
      background-position: calc(100% - 16px) calc(47.8%);
    }

    div {
      color: $primaryColor1;

      span {
        color: $primaryColor2;
      }
    }

    input {
      @extend %input-basic;

      &:focus {
        outline: 0;
        border: 3px solid #93BBF9;
        padding: 8px 14px;
      }

      &::placeholder {
        color: #bdbdbd;
      }
      &::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    }
  }
}

button {
  width: fit-content;
  background-color: inherit;
  margin: 0 auto;
  cursor: pointer;
}
