@use '../helpers/variables';

%slash-shared {
  box-sizing: unset;
  width: 20px;
  height: 81px;
}

.lighthouse-section-wrapper,
.lighthouse-words {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lighthouse-section-wrapper {
  width: 100%;
  padding: 40px 24px;
}

.lighthouse-words-container {
  display: flex;
  padding: 0px;
  margin-bottom: 20px;

  .backslash {
    @extend %slash-shared;
    border-left: 1px solid $primaryColor1;
    transform: rotate(-13deg);
  }

  .slash {
    @extend %slash-shared;
    border-right: 1px solid $primaryColor1;
    transform: rotate(13deg);
  }
}

.lighthouse-words {
  h4 {
    color: $primaryColor1;
  }

  h4:first-child {
    color: $primaryColor2;
  }
}
