@use '../helpers/variables';

.header-container {
  background-image: url('/assets/images/白色海浪.png'),
    url('/assets/images/底色.png');
  background-position: center;
  background-size: 350% 85%;
  background-repeat: no-repeat, no-repeat;
  background-color: $primaryColor1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 24px 8px;
  width: 100%;
  
  // 暫定height
  height: 793px;
}

.slogan-container > h2 {
  color: $white;
  letter-spacing: 0.2em;

  &:nth-child(2) {
    font-size: 28px;
    text-align: center;
    margin-top: 4px;
  }
}
